@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100%;
    background-image: url(../imagens/fundo-sigma.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 242, 160);
    text-align: center;
    text-shadow: 2px 1px 4px rgb(216, 24, 255);
    z-index: 1;
    animation-name: body;
    animation-duration: 4s;
    opacity: 1;
}

body h1{
    margin-top: 4%;
    animation-name: body_h1;
    animation-duration: 4s;
    opacity: 1;
}

body p{
    margin-top: 0px;
    animation-name: body_p;
    animation-duration: 4.5s;
    opacity: 1;
}

.header-content{
    display: flex;
	justify-content: center;
	align-items: center;
}

.header-content img{
    width: 16%;
    padding: 2em;
    margin-left: -15%;
    animation-name: header-content_img;
    animation-duration: 2.5s;
    opacity: 1;
}

.navbar{
	display: flex;
    align-items: center;
    height: 10vh;
       
}

.navbar ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 20px;
    z-index: 1;
    animation-name: navbar_ul;
    animation-duration: 2.5s;
    opacity: 1;
}

.nav-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-list li a{
	display: block;
	text-decoration: none;
	color: rgb(247, 238, 177);
	text-align: center;
	padding: 5px;
}

.navbar a{
	text-decoration: none;
	font-size: 20px;
	font-family: Impact, Haettenschweiler, sans-serif;
	color: rgb(247, 238, 177);
	text-shadow: -1px 1px 1px rgb(216, 24, 255);
    
}

.navbar a:hover{
	color: rgb(216, 24, 255);
}

.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown-content{
	display: none;
	position: absolute;
}

.dropdown-content a{
	display: block;
 	float: none;
}

.dropdown-content a:hover{
	color:rgb(216, 24, 255);
}

.dropdown:hover .dropdown-content{
	display: block;
}

.container{
    
    text-align: center;
    margin: 4rem;
    animation-name: header-content_img;
    animation-duration: 5s;
    opacity: 1;
}

.car-type{
    display: inline-block;
    
    margin: 1rem;
    padding: 1rem;

    border: 2px solid rgb(216, 24, 255);
    border-radius: 20px;
}

.car-type button{
    position: relative;
    bottom: -4px;
    left: 2%;
    background: fixed;
    border-radius: 12px;
    border: 2px solid rgb(216, 24, 255);
    border-bottom: 10%;
    padding: 4px;
    text-decoration: none;
    text-shadow: -2px 1px 4px rgb(216, 24, 255);
    color: rgb(255, 242, 160);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: 30px;
    width: 180px;
    margin: 10px 0;
}

.car-type button:hover {
    background-color: rgb(216, 24, 255);
    height: 35px;
    width: 200px;
    margin: 7.5px 0;
}

footer h1{
    margin-top: 11%;
    animation-duration: 5.7s;
    opacity: 1;
}

footer p{
    margin-top: 7px;
    animation-duration: 5.8s;
    opacity: 1;
}

.load {
    position:fixed;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: load;
    animation-duration: 2.4s;
    opacity: 0;
}

.load img {
    width: 11%;
    opacity: 0;
    animation-name: load_img;
    animation-duration: 1.5s;
}

@keyframes load {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }    
     100%{
        opacity: 0;
     }   
}

@keyframes load_img {
    0%{
        opacity: 0;
    }
    10%{
       opacity: 0;
    }  
    /*20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }   
    40%{
        opacity: 1;
    }*/
     50%{
        opacity: 1;
     }     
     100%{
        opacity: 0;
     }   
}

@keyframes body_h1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }    
     100%{
        opacity: 1;
     }   
}

@keyframes body_p {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }    
     100%{
        opacity: 1;
     }   
}

@keyframes header-content_img {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }    
     100%{
        opacity: 1;
     }   
}

@keyframes navbar_ul {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }    
     100%{
        opacity: 1;
     }   
}