@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100%;
    background-color: rgb(33, 34, 36);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

body h2{
    display: flex;
    justify-content: center;
    color: white;
    margin: 30px;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 40, 46);
}

.navbar{
	display: flex;
    align-items: center;
    height: 10vh;
}  

.navbar .logo{
    padding-right: 30px;
    color: white;
    cursor: pointer;
}

.navlist ul{
    display: flex;
	justify-content: center;
	align-items: center;
    list-style: none;
	gap: 20px;
    
}

.nav-list{
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-list .nav-link{
    display: block;
	text-decoration: none;
	text-align: center;
	padding: 5px;
    color: white;
}

.nav-list li a:hover{
    background-color: rgb(19, 109, 212);
    padding: 8px;
} 

.logo:hover{
    background-color: rgb(19, 109, 212);
    padding: 15px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}